{% extends 'base.html' %}

{% block title %}Analytics{% endblock %}

{% block content %}
    <h1>Analytics</h1>
    <p>View analytics and reports here.</p>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ADR</h5>
                        <p class="card-text">$185</p>
                        <p class="card-text fs-7">Average Daily Rate</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Avg. Length of Stay</h5>
                        <p class="card-text">3.4</p>
                        <p class="card-text fs-7">Nights per booking</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Revenue Trends</h5>
                        <p class="card-text">Monthly revenue and booking volume analysis</p>
                        <p class="card-text">[Insert demand forecast chart here]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}