services:
  web:
    build: .
    container_name: web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    env_file: .env
    environment:
      - BASE_PATH=/sk84647
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:8000"]
      interval: 30s
      timeout: 10s
      retries: 3

  nginx:
    image: nginx:alpine
    depends_on:
      - web
    volumes:
      - .:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro  # Mount the config file
    ports:
      - "80:80"
